* {
    font-family:  "微软雅黑";
    margin:0px;
    padding:0px;
    
}

.jq_grid * {
    box-sizing: border-box;
}

.jq_grid table {
    border-collapse: collapse;
    border: solid 2px #808080;
    table-layout: fixed;
    width: 0px;
}

.jq_grid th {
    border: solid 1px #6E6E6E;
    background-color: #909090;
    color: #FFFFFF;
    font-weight: bold;
    height: 30px;
}

.jq_grid td {
    border: solid 1px #C0C0C0;
    background-color: #FFFFFF;
    color: #303030;
    height: 25px;
}

.jq_grid td, .jq_grid th {
    padding: 1px 3px;
    white-space: nowrap;
    word-break: keep-all;
    overflow: hidden;
    text-overflow: ellipsis;
}

.jq_grid [data-role=left-columns] td {
    background-color: #F0F0F0;
}

.jq_grid [data-role=right-columns] td {
    background-color: #F0F0F0;
}

.jq_grid ::-webkit-scrollbar {
    width: 15px;
    height: 15px;
    border: 0px;
    /*border-top: solid 2px #808080;*/
}

.jq_grid ::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0);*/
}

.jq_grid ::-webkit-scrollbar-thumb {
    background-color: rgba(135, 135, 135, 0.5);
    border-radius: 15px;
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0);
}