.jq_grid table {
    border-collapse: collapse;
    border: solid 2px #808080;
    table-layout: fixed;
    width: 0px;
}

.jq_grid th {
    border: solid 1px #808080;
    background-color: #B6B6B6;
    color: #FFFFFF;
    font-weight: bold;
    height: 30px;
}

.jq_grid td {
    border: solid 1px #E0E0E0;
    background-color: #FFFFFF;
    height: 25px;
}